*.log
local.ini
config.ini
.settings
.project
.idea
.buildpath
.DS_Store
.htaccess
nbproject
Erfurt/libraries/Zend/
cache.properties
build/api
build/code-browser
build/coverage
build/logs
build/pdepend
library/Zend
cache.sqlite