*.log
local.ini
config.ini
.settings
.project
.idea
.buildpath
.DS_Store
.htaccess
nbproject
Erfurt/libraries/Zend/
cache.properties
library/Zend
cache.sqlite
composer.phar

# build stuff
build/
!build/phpcs.xml
!build/phpcmd.xml