*.log
local.ini
config.ini
.settings
.project
.idea
.buildpath
.DS_Store
.htaccess
nbproject
Erfurt/libraries/Zend/
cache.properties
library/Zend
cache.sqlite
tests/*.ini
tests/benchmark/Erfurt/Store/Adapter/Sparql/_files/DBpedia/data/benchmark_data.nt
tests/cache/*

# Composer
composer.phar
composer.lock
graph-composer.phar
vendor/

# build stuff
build/
!build/phpcs.xml
!build/phpcmd.xml