; Configuration for a container factory.
configs[]    = "%erfurt.root%/container-configs/Stardog.yml"
service      = "stardog_adapter_with_mysql_cache"
parameters.stardog.client.base_url   = "http://localhost:5820"
parameters.stardog.client.username   = "admin"
parameters.stardog.client.password   = "admin"
parameters.stardog.client.database   = "test"
; Enable logging to see the whole communication between Erfurt and Stardog.
;parameters.stardog.client.log        = "%erfurt.root%/logs/stardog-requests.log"
; Settings for the MySQL cache and versioning system.
parameters.mysql.host     = "localhost"
parameters.mysql.username = "root"
parameters.mysql.password = ""
parameters.mysql.dbname   = "erfurt_test"
parameters.erfurt.container.auto_setup = On