<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.1//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-2.dtd">
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:foaf="http://xmlns.com/foaf/0.1/"
    xmlns:sioc="http://rdfs.org/sioc/ns#"
    xmlns:sioct="http://rdfs.org/sioc/types#"
    xmlns:dcterms="http://rdfs.org/sioc/types#"
    xmlns:rel="http://purl.org/vocab/relationship/"
    xmlns:content="http://purl.org/rss/1.0/modules/content/"
    >
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ page.title }} ({{ site.name }})</title>
        <meta name="author" content="{{ site.name }}" />
        <link href="{{site.feedurl}}" rel="alternate" title="{{ site.name }}"" type="application/atom+xml" />

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

        <!-- Homepage CSS -->
        <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

        <!-- Google CDN APIs-->
        <script type="text/javascript" src="https://www.google.com/jsapi?key={{site.googleapikey}}"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/webfont/1.0.19/webfont.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

        <!-- main javascript -->
        <script type="text/javascript" src="/js/main.js"></script>

    </head>
    <body>

        <div class="site">
            <div class="title">
                <a class="name" href="/">{{ site.name }}</a>
            </div>

            {{ content }}

            <div class="footer">
                ...
            </div>
        </div>

        <div>
            <a href="http://github.com/AKSW/Erfurt"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
        </div>

        <!-- Google Analytics -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ site.googleanalytics }}']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
</script>
<!-- Google Analytics end -->

</body>
</html>
